html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-large;
}

.content {
    text-align: center;
}